@model MVCGoD.Models.CharacterModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharacterModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bravoury)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bravoury)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crazyness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crazyness)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
